{{#partial "content"}}

    <h1>Post list!</h1>

    {{#if posts}}
        {{#each posts }}
            <p>Current post: </p>
            <p>{{ content }}<a href="/posts/{{id}}">: read more...</a></p>
            <a href="/posts/{{id}}/delete"><button class="btn btn-info">Remove Post</button></a>
            <a href="/posts/{{id}}/edit"><button class="btn btn-info">Edit Post</button></a>
        {{/each}}
    {{else}}
        <p>No posts!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}